<ion-header>
  <ion-toolbar  color ="secondary">
    <ion-title >
      Sucursales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map1"></div>
  <ion-slides (ionSlideDidChange)="onSlideDidChange()">
    <ion-slide *ngFor="let marker of markers">
      <ion-card>
        <ion-item>
          <ion-thumbnail slot="start">
            <img [src]="marker.imageURL">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h3><b>{{ marker.name }}</b></h3>
            <h4>{{ marker.attention }}</h4>
            <p>{{ marker.address }}</p>
          </ion-label>
        </ion-item>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
