<ion-header>
  <ion-toolbar  color ="secondary">
    <ion-title >
      Gestión de motos y pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-list>
      <ion-card  *ngFor="let item of motos">
        <ion-item>
          <ion-card-header>
          {{ item.id }}
        </ion-card-header>
        </ion-item>
        <ion-item>
          <div class="maps" style=" width: 100%;  height: 100%; min-height: 200pt;"></div>
        </ion-item>
        <ion-item>
          <ion-card-subtitle>
            {{ item.estado }}
          </ion-card-subtitle>
        </ion-item>
          <ion-card-content>
            <p>  <span class = "total"> </span>  </ p >          
          </ion-card-content>
      </ion-card>
      
    </ion-list>
  </ion-content>