<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="maps">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>Añadir Sucursal</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="sucursales">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="gestion-pedido">
      <ion-icon name="file-tray-full"></ion-icon>
      <ion-label>Gestión</ion-label>
   </ion-tab-button>
    <ion-tab-button tab="register">
      <ion-icon name="person-add-outline"></ion-icon>
      <ion-label>Register</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>