   ion-content {
    --background: #dee1e4;

    ion-card {
      width: 100%;
      box-shadow: none;
      border-radius: 14px;
      background: rgba(255,255,255,.8);
      .main {
        width: 60px;
        height: 60px;
        border-radius: 50px;
        background: #FFFFFF;
        box-shadow:  7px 7px 20px #dbdfe2, 
               -7px -7px 20px #ffffff;
              
        display: flex;
        align-items: center;
        justify-content: center;
  
        img {
          width: 20px;
        }
      }
    }
}