<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenido a Las Chachas!!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id = "logincard">
    <ion-card-content>
      <ion-item>
        <ion-input [(ngModel)]="user.email" placeholder="youremail@gmail.com"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-input [(ngModel)]="user.password" placeholder="Password" type="password"></ion-input>
      </ion-item>
      <br>
      <ion-label color="primary" id="label">Si es tu primera vez usando la app, deberás cambiar tu contraseña</ion-label>
      <br>
      <div style= "text-align: center; margin: auto">
        <ion-button aria-expanded="block" (click)="login()">Login</ion-button>
      </div>
      <div style= "text-align: center; margin: auto">
        <ion-button fill="clear" (click)="resetPassword()">Forget Password</ion-button >
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>